<?xml version="1.0" encoding="UTF-8"?>
<suite name="${ets-code}-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.owc10.TestRunListener" />
    <listener class-name="org.opengis.cite.owc10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.owc10.TestFailureListener" />
  </listeners>

  <test name="Atom Core">
    <classes>
      <class name="org.opengis.cite.owc10.atom.AtomCoreTests" />
    </classes>
  </test>
  <test name="Atom WMS">
    <classes>
      <class name="org.opengis.cite.owc10.atom.AtomWmsTests" />
    </classes>
  </test>
</suite>
